* {
  box-sizing: border-box;
  margin: 0px;
}
body {
  background-color: #7510f7;
}
/*<--Container-Main-->*/
.container_main {
  border: aqua solid;
  height: 100%;
  padding: 45px 40px 0px 40px;
  display: flex;
  display: block;
  justify-content: center;
}
.container_head {
  border: rgb(218, 13, 190) solid;
  margin-bottom: 90px;
  text-align: center;
}
h1,
h2 {
  margin-bottom: 10px;
}
/*<--Cards-"info"-->*/
.container_cards {
  border: turquoise solid;
  height: 100%;
  margin-bottom: 40px;
}
img {
  border: rgb(255, 0, 0) solid;
  width: 100%;
  height: 100%;
}
.container_Description_And_Title {
  margin: 20px;
}
.title {
  font-size: 30px;
}
.description,
.ver_Mas {
  font-size: 18px;
}
.ver_Mas {
  display: flex;
  justify-content: flex-end;
}
