* {
  box-sizing: border-box;
  margin: 0px;
}
body {
  font-family: "Poppins", sans-serif;
}
/*<--Container-Main-->*/
.container_main {
  padding: 40px 30px 50px 30px;
}
/*<--Container-Head-->*/
.container_head {
  margin-bottom: 90px;
  text-align: center;
}
h1,
h2 {
  margin-bottom: 10px;
}
h1 {
  font-size: 30px;
  font-weight: 600;
}
h2 {
  font-size: 24px;
  font-weight: normal;
}
/*<--Cards-"container"-->*/
.container_cards {
  width: 348px;
}
@media (min-width: 960px) {
  .container_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
/*<--Card-"info"-->*/
.card {
  margin-bottom: 40px;
  border: #000000 solid 2px;
  border-radius: 4px;
}
@media (min-width: 960px) {
  .card {
    width: 348px;
    margin: 0px;
  }
}
img {
  width: 100%;
}
/*<--Cards-"descrip_and_title"-->*/
.cont_descrip_and_title {
  margin: 20px 15px 15px 15px;
}
.title {
  font-size: 25px;
  font-weight: 600;
}
.descrip {
  font-size: 16px;
}
.ver_mas {
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  color: #51aff3;
  font-weight: bold;
}
